<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p class="fixed">
    <mat-toolbar color="primary" >
        <mat-toolbar-row class="content">

            <a [routerLink]="['/']"><img src="assets/images/logo.png" alt="logo.png" width="50" height="50"></a>

            <span class="title">epsilon</span>

            <form action="">
                <div class="Icon-inside">
                    <input type="text">
                    <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                  </div>
            </form>

            <button mat-icon-button class="btn-icon" (click)="irAFavoritos()">
                <mat-icon class="icon-display">favorite</mat-icon>
            </button>
            <button mat-icon-button class="btn-icon">
                <mat-icon class="icon-display">shopping_cart</mat-icon>
            </button>

            <div class="usuario" *ngIf="usuarioLogueado == null">
                <button mat-icon-button>
                    <mat-icon class="icon-display2">account_circle</mat-icon>
                </button>

                <a [routerLink]="['/login']" class="sesion"><span>Iniciar sesión</span></a>
                <span style="font-size: 18px;">|</span>
                <a [routerLink]="['/registro']" class="sesion"><span>Registrarse</span></a>
            </div>
            <div class="usuario" *ngIf="usuarioLogueado != null">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <img [src]="[usuarioLogueado.avatar]" [alt]="[usuarioLogueado.avatar]" class="avatar">
                    <span>{{ usuarioLogueado.usuario }}</span>
                </button>
            </div>
            
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<mat-menu #menu="matMenu" class="menu" xPosition="before">
    <button mat-menu-item  (click)="clickMenuItem('tablero')">Tablero</button>
    <button mat-menu-item (click)="clickMenuItem('biblioteca')">Biblioteca</button>
    <button mat-menu-item   (click)="clickMenuItem('pedidos')">Pedidos</button>
    <button mat-menu-item  (click)="clickMenuItem('perfil')">Perfil</button>
    <button mat-menu-item   (click)="clickMenuItem('ventas')">Ventas</button>
    <button mat-menu-item   (click)="clickMenuItem('anuncios')">Anuncios</button>
    <button mat-menu-item (click)="clickMenuItem('crearAnuncio')">Crear anuncio</button>
    <button mat-menu-item (click)="clickMenuItem('cerrarSesion')">Cerrar Sesión</button>
</mat-menu>