<mat-card>
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Usuario" formControlName="usuario" minLength="4" maxlength="18" required>
                </mat-form-field>
                <br/>
                <span *ngIf="this.form.get('usuario')?.errors?.['minlength']" style="color: red;">
                    El usuario tiene que tener al menos 4 caracteres
                </span>
            </p>

            <p>
                <mat-form-field>
                    <input name="email" type="email" ngModel email matInput placeholder="Email" formControlName="email" maxlength="30" required>
                </mat-form-field>
                <br/>
                <span *ngIf="this.form.get('email')?.errors?.['email']" style="color: red;">
                    El email no tiene el formato correcto
                </span>
            </p>
            
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName="passwd" maxlength="20" required>
                </mat-form-field>
                <br/>
                <span *ngIf="this.form.get('passwd')?.errors?.['minlength']" style="color: red;">
                    La contraseña tiene que tener al menos 4 caracteres
                </span>
            </p>

            <div class="container">
                <div class="button-wrap">
                  <label class="button" for="upload">Subir avatar</label>
                  <input id="upload" type="file" accept="image/png, image/jpg, image/jpeg" (change)="onFileSelected($event)">
                </div>
            </div>

            <div class="button">
                <button type="submit" mat-button>Registrarse</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>