<!-- <div class="productos">
    <p *ngFor="let producto of productos; index as i;">
        <img [src]="producto.imagen" [alt]="producto.imagen" width="100" height="100">
        <br/>
        <span>{{ producto.nombre }}</span>
    </p>
</div> -->

<section class="product-list ">
    <div class="product-container">
        <div *ngFor="let producto of productos; index as i;" class="card">
            <div class="title">{{ producto.nombre }}</div>
            <div class="image">
                <img [src]="producto.imagen" />
            </div>
            <div class="text">{{ producto.precio | currency }}</div>
            <button class="fav-button">
                <mat-icon>favorite</mat-icon>
            </button>
            <button class="cart-button">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</section>

<div class="centrado">
    <mat-paginator #paginator [length]="totalElements" [pageSize]="size" (page)="onPageChange($event)"
        [showFirstLastButtons]="true" [hidePageSize]="true">
    </mat-paginator>
</div>