<div class="categorias">
    <ul>
        <span *ngFor="let categoria of categorias">
            <a (click)="getProductosPorFiltroCategoria(categoria.nombre)">
                <li>{{ categoria.nombre }}</li>
            </a>
        </span>
    </ul>
</div>

<div class="sinproductos" *ngIf="this.productos.length <= 0">
    <p>No se ha encontrado ningún producto :(</p>
</div>

<section class="product-list">
    <div class="product-container">
        <div *ngFor="let producto of productos; index as i;" class="card">
            <div class="title">{{ producto.nombre }}</div>
            <div class="image">
                <a [routerLink]="['/producto', producto.id]"><img [src]="producto.imagen" /></a>
            </div>
            <div class="text" *ngIf="producto.descuento <= 0">
                {{ producto.precio | currency:'EUR' }} 
            </div>
            <div class="text" *ngIf="producto.descuento > 0">
                <span class="precioTachado">{{ producto.precio | currency:'EUR' }} </span>
                <span class="precio">{{ producto.precio - producto.descuento | currency:'EUR' }}</span>
            </div>
            <button class="fav-button" (click)="addProductoFavorito(producto.id)">
                <mat-icon>favorite</mat-icon>
            </button>
            <button class="cart-button">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</section>

<div class="centrado" *ngIf="this.productos != undefined && this.productos.length > 0">
    <mat-paginator #paginator [length]="totalElements" [pageSize]="size" 
        (page)="onPageChange($event)"
        [showFirstLastButtons]="true" [hidePageSize]="true">
    </mat-paginator>
</div>