<div class="container">
    <ul>
        <li (click)="seleccionarTablero()">
            <a [ngClass]="{ active: tableroSeleccionado }">
                <mat-icon class="icon-display">dashboard</mat-icon>
                TABLERO
            </a>
        </li>
        <li (click)="seleccionarPerfil()">
            <a [ngClass]="{ active: perfilSeleccionado }">
                <mat-icon class="icon-display">account_box</mat-icon>
                PERFIL
            </a>
        </li>
        <li (click)="seleccionarBiblioteca()">
            <a [ngClass]="{ active: bibliotecaSeleccionado }">
                <mat-icon class="icon-display">videogame_asset</mat-icon>
                BIBLIOTECA
            </a>
        </li>
        <li (click)="seleccionarPedidos()">
            <a [ngClass]="{ active: pedidosSeleccionado }">
                <mat-icon class="icon-display">file_copy</mat-icon>
                PEDIDOS
            </a>
        </li>
        <li (click)="seleccionarVentas()">
            <a [ngClass]="{ active: ventasSeleccionado }">
                <mat-icon class="icon-display">shop</mat-icon>
                VENTAS
            </a>
        </li>
        <li (click)="seleccionarMisAnuncios()">
            <a [ngClass]="{ active: misAnunciosSeleccionado }">
                <mat-icon class="icon-display">loyalty</mat-icon>
                MIS ANUNCIOS
            </a>
        </li>
        <li (click)="seleccionarCrearAnuncio()">
            <a [ngClass]="{ active: crearAnuncioSeleccionado }">
                <mat-icon class="icon-display">note_add</mat-icon>
                CREAR ANUNCIO
            </a>
        </li>
    </ul>
    
    <div class="contenido">
        <tablero *ngIf="tableroSeleccionado"></tablero>
        <biblioteca *ngIf="bibliotecaSeleccionado"></biblioteca>
        <pedidos *ngIf="pedidosSeleccionado"></pedidos>
        <ventas *ngIf="ventasSeleccionado"></ventas>
        <crear-anuncio *ngIf="crearAnuncioSeleccionado"></crear-anuncio>
        <mis-anuncios *ngIf="misAnunciosSeleccionado"></mis-anuncios>
        <perfil *ngIf="perfilSeleccionado"></perfil>
    </div>
</div>