:host {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 350px;
}

mat-card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
    background-color: rgba(255, 255, 255, 0.792);
    width: 50%;
    padding: 30px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-title {
    margin-bottom: 2rem;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .button-wrap {
    position: relative;
  }
  
  .container .button {
    display: inline-block;
    text-align: center;
    padding: 8px 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #673ab7;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .button button {
    border: 2px solid black;
    background-color: yellow;
    margin-top: 20px;
    font-weight: 800;
    width: 100%;
  }