<mat-card>
    <mat-card-title>Crear anuncio</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" ngModel email matInput placeholder="Nombre del producto" formControlName="nombre" required>
                </mat-form-field>
                <br/>
            </p>

            <p>
                <mat-form-field>
                    <textarea matInput placeholder="Descripción del producto"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="8" maxlength="700"></textarea>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Selecciona una categoría</mat-label>
                    <mat-select [disableOptionCentering]="true" required>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select [disableOptionCentering]="true" required>
                      <mat-option value="option1">Nuevo</mat-option>
                      <mat-option value="option2">Como nuevo</mat-option>
                      <mat-option value="option3">Usado</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="number" ngModel number matInput placeholder="Precio" formControlName="precio" min="0.00" max="10000.00" step="0.01" required>
                </mat-form-field>
                <br/>
            </p>

            <p>
                <mat-form-field>
                    <input type="number" matInput placeholder="Stock" formControlName="stock" min="1" max="10000" required>
                </mat-form-field>
                <br/>
            </p>

            <div class="container">
                <div class="button-wrap">
                  <label class="button" for="upload">Subir avatar</label>
                  <input id="upload" type="file" accept="image/png, image/jpg, image/jpeg" (change)="onFileSelected($event)">
                </div>
            </div>

            <div class="button">
                <button type="submit" mat-button>Crear</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>