<mat-card>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="email" ngModel email matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <br/>
                <span *ngIf="this.form.get('email')?.errors?.['email']" style="color: red;">
                    El email no tiene el formato correcto
                </span>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName="passwd" required>
                </mat-form-field>
            </p>

            <div class="button">
                <button type="submit" mat-button>Iniciar sesión</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>