<div class="container">
    <mat-card>
        <mat-card-content>
            <img [src]="producto.imagen" [alt]="producto.imagen" width="150" height="150">
            <div class="datos">
                <p class="nombre">{{ producto.nombre }}</p>
                <p>Publicado por <a [routerLink]="['/usuario', producto.usuarios.id]">{{ producto.usuarios.usuario }}</a></p>
                <p class="fechaPublicacion">Publicado el {{ producto.fechaCreacion }}</p>
                <p class="estado">Estado: {{ producto.estado }}</p>
                <p class="stock">Stock: {{ producto.stock }}</p>
                <div class="precio" *ngIf="producto.descuento <= 0">
                    {{ producto.precio | currency:'EUR' }} 
                </div>
                <div class="precio" *ngIf="producto.descuento > 0">
                    <span class="precioTachado">{{ producto.precio | currency:'EUR' }} </span>
                    <span class="precio">{{ producto.precio - producto.descuento | currency:'EUR' }}</span>
                </div>
                <div class="botones">
                    <button class="fav-button" (click)="addProductoFavorito(producto.id)">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button class="cart-button" (click)="addProductoCesta(producto.id)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div class="descripcion">
    <mat-card>
        <mat-card-title>Descripción del producto</mat-card-title>
        <mat-card-content>
            <p>
                {{ producto.descripcion }}
            </p>
        </mat-card-content>
    </mat-card>
</div>