<div class="container" *ngIf="productos.length > 0">
    <h2>Tus anuncios</h2>
    <mat-card *ngFor="let producto of productos; index as i;">
        <mat-card-content>
            <a [routerLink]="['/producto', producto.id]">
                <img [src]="producto.imagen" [alt]="producto.imagen">
            </a>
            <div class="datos">
                <p class="nombre">{{ producto.nombre }}</p>
                <p class="fechaPublicacion">Publicado el {{ producto.fechaCreacion }}</p>
                <p class="estado">Estado: {{ producto.estado }}</p>
                <p class="stock">Stock: {{ producto.stock }}</p>
                <div class="precio" *ngIf="producto.descuento <= 0">
                    {{ producto.precio | currency:'EUR' }} 
                </div>
                <div class="precio" *ngIf="producto.descuento > 0">
                    <span class="precioTachado">{{ producto.precio | currency:'EUR' }} </span>
                    <span class="precio">{{ producto.precio - producto.descuento | currency:'EUR' }}</span>
                </div>
            </div>
            <div class="botones">
                <button class="edit-button" (click)="editarProducto(producto.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="delete-button" (click)="eliminarProducto(producto.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="centrado" *ngIf="productos.length > 0">
    <mat-paginator #paginator [length]="totalElements" [pageSize]="size" 
        (page)="onPageChange($event)"
        [showFirstLastButtons]="true" [hidePageSize]="true">
    </mat-paginator>
</div>

<div class="centrado" *ngIf="productos.length <= 0">
    <h2>No tienes ningún anuncio publicado :(</h2>
</div>