<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="avatar-container">
                <img class="avatar"[src]="usuario.avatar" [alt]="usuario.avatar" width="150" height="150">
                <button class="edit-button" (click)="abrirDialogoImagen()">
                    <input type="file" accept="image/png, image/jpg, image/jpeg, image/gif" style="display: none" #file (change)="onFileSelected($event)"/>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="datos">
                <p class="nombre">{{ usuario.usuario }}</p>
                <p class="nombre">{{ usuario.correo }}</p>
                <p class="fechaPublicacion">Te uniste el {{ usuario.fechaCreacion }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="direccion">
    <mat-card>
        <mat-card-title>Dirección</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formDireccion">
                <p>
                    <mat-form-field color="accent">
                        <input type="text" matInput placeholder="Calle" formControlName="calle" maxlength="30" required>
                    </mat-form-field>
                    <br/>
                    <span *ngIf="this.formDireccion.get('calle')?.errors?.['minlength']" style="color: red;">
                        La calle tiene que tener al menos 5 carácteres.
                    </span>
                </p>
                <p>
                    <mat-form-field color="accent">
                        <input type="number" matInput placeholder="Número" formControlName="numero" maxlength="5" required>
                    </mat-form-field>
                    <span *ngIf="this.formDireccion.get('numero')?.errors?.['minlength']" style="color: red;">
                        El número no puede estar vacío.
                    </span>
                </p>
                <p>
                    <mat-form-field color="accent">
                        <input type="text" matInput placeholder="Ciudad" formControlName="ciudad" maxlength="30" required>
                    </mat-form-field>
                    <br/>
                    <span *ngIf="this.formDireccion.get('ciudad')?.errors?.['minlength']" style="color: red;">
                        La ciudad tiene que tener al menos 3 carácteres.
                    </span>
                </p>
                <div class="button">
                    <button type="submit" mat-button class="editarBtn" (click)="editarFormularioDireccion()">Editar</button>
                    <button type="submit" mat-button class="guardarBtn" (click)="guardarDireccion()">Guardar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
