<div class="container" *ngIf="idUsuario != null && productos.length > 0">
    <h2>Productos comprados</h2>
    <mat-card *ngFor="let producto of productos; index as i;">
        <mat-card-content>
            <a [routerLink]="['/producto', producto.id]">
                <img [src]="producto.imagen" [alt]="producto.imagen">
            </a>
            <div class="datos">
                <p class="nombre">{{ producto.nombre }}</p>
                <p class="estado">Estado: {{ producto.estado }}</p>
                <p class="stock">Cantidad comprada: {{ producto.cantidad }}</p>
                <div class="precio" *ngIf="producto.descuento <= 0">
                    {{ producto.precio | currency:'EUR' }} 
                </div>
                <div class="precio" *ngIf="producto.descuento > 0">
                    <span class="precioTachado">{{ producto.precio | currency:'EUR' }} </span>
                    <span class="precio">{{ producto.precio - producto.descuento | currency:'EUR' }}</span>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div class="container" *ngIf="idUsuario != null && productos.length <= 0">
    <h2>Todavía no has comprado ningún producto :(</h2>
</div>
