.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

table {
    width: 70%;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 4px 7px 5px 5px rgba(84,48,146,1);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

th {
    background-color: #543092;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

tr.mat-row:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

.listaVacia {
    text-align: center;
    margin-top: 2rem;
}

.listaVacia h2 {
    font-style: italic;
    font-weight: 500;
}