<div class="container">
  <div class="card">
    <a class="block-feature amarillo1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">Total pedidos realizados</div>
      <p class="paragraph">{{ totalPedidosRealizados }}</p>
    </a>
  </div>
  <div class="card">
    <a class="block-feature morado1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">Pedidos realizados en el último mes</div>
      <p class="paragraph">{{ pedidosRealizadosMes }}</p>
    </a>
  </div>
  <div class="card">
    <a class="block-feature azul1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">Ventas realizadas en el último mes</div>
      <p class="paragraph">{{ ventasRealizadasMes }}</p>
    </a>
  </div>
  <div class="card">
    <a class="block-feature rojo1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">€ gastados en el último mes</div>
      <p class="paragraph">{{ totalDineroGastado }} €</p>
    </a>
  </div>
  <div class="card">
    <a class="block-feature verde1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">€ ganados en el último mes</div>
      <p class="paragraph">{{ totalDineroGanado }} €</p>
    </a>
  </div>
  <div class="card">
    <a class="block-feature violeta1"
      style="transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s, -webkit-transform 0.2s ease 0s;">
      <div class="feature-block-title">Total productos comprados</div>
      <p class="paragraph">{{ totalProductosComprados }}</p>
    </a>
  </div>
</div>
